<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Xtream Web TV</title>
<link rel="icon" href="tv.svg">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/icons/bootstrap-icons.css">
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- https://github.com/video-dev/hls.js -->
<script src="/hls/hls.min.js"></script>
<link rel="stylesheet" href="iptv.css">